     *{
          padding: 0; margin: 0;
     }
     html, body {
         background-color: #fff;
         font-family: 'Raleway', sans-serif;
         font-weight: 100;
         height: 100vh;
         margin: 0;
     }

     .full-height {
         height: 100vh;
     }

     .flex-center {
         align-items: center;
         display: flex;
         justify-content: center;
     }

     .position-ref {
         position: relative;
     }

     .top-right {
         position: absolute;
         right: 10px;
         top: 18px;
     }

     .content {
         text-align: center;
     }

     .title {
         font-size: 64px;
         color: #636b6f;
     }

     .links > a {
         color: #636b6f;
         padding: 0 25px;
         font-size: 12px;
         font-weight: 600;
         letter-spacing: .1rem;
         text-decoration: none;
         text-transform: uppercase;
     }

     .m-b-md {
         margin-bottom: 30px;
         font-weight: 100;
     }

     .thin{
        font-weight: 100;
     }
     .fl-purple{
        color: #f3136a !important;
     }
     .clear{
        clear: both;
     }
     .fl-container{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
     }
     .fl-container>.fl-box{
       background-color: #f3136a;
       width: 200px;
       height: 150px;
       margin: 20px;
       text-align: center;
       line-height: 150px;
       font-size: 60px;
       color: #fff;
     }
